* {
    padding: 0px;
    margin: 0px;
}

body: {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', sans-serif;

}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/*Global css for titel start*/
.title {
    width: 100%;
    padding: 0px 0px 40px;
}

.title h4 {
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 600;
    color: #008ed6;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.title h1 {
    font-size: 48px;
    line-height: 1.2em;
    font-weight: 600;
    color: #000;
    margin: 15px 0px 20px;
}

/*Global css for titel ebd*/

.header {
    width: 100%;
    background: url("../images/banner.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0px 0px 0px 30px;
}

.header .navbar-nav .nav-item .nav-link:hover {
    background: url("../images/hover.png") bottom center no-repeat;
    background-size: auto;
}

.header .navbar-nav .nav-item .nav-link:focus {
    background: url("../images/hover.png") bottom center no-repeat;
    background-size: auto;
}

/*.header .navbar-nav .nav-item .active {
    background: url("../images/hover.png") bottom center no-repeat;
    background-size: auto;
}*/

.banner {
    width: 100%;
    padding: 150px 0px;
}

.banner h4 {
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 600;
    color: #008ed6;
    letter-spacing: 2px;
}

.banner h1 {
    font-size: 48px;
    line-height: 1.2em;
    font-weight: 600;
    color: #fff;
    margin: 15px 0px;
}

.banner p {
    font-size: 16px;
    line-height: 1.7em;
    font-weight: 400;
    color: #767677;
}

.banner .double-btn {
    width: 100%;
    padding: 30px 0px 0px;
}

.banner .double-btn .btn-primary {
    padding: 15px 25px;
    border-radius: 2px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid #008ed6;
    color: #fff;
    transition: .5s;
    margin: 0px 20px 0px 0px;
}

.banner .double-btn .btn-primary:hover {
    border: 1px solid #008ed6;
    background: transparent;
    color: #008ed6;
}


.banner .double-btn .btn-primary:focus {
    border: 1px solid #008ed6;
    background: transparent;
    color: #008ed6;
}

.banner .double-btn .btn-light {
    padding: 15px 15px;
    border-radius: 2px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid #767677;
    background: transparent;
    color: #fff;
    transition: .5s;
}

.banner .double-btn .btn-light:hover {
    border: 1px solid #008ed6;
    background: #008ed6;
    color: #fff;
}

.banner .double-btn .btn-light:focus {
    border: 1px solid #008ed6;
    background: #008ed6;
    color: #fff;
}

.feature {
    width: 100%;
    padding: 80px 0px;
}

.feature .titel {
    text-align: center;
}

.icon-box {
    width: 100%;
    padding: 40px;
    text-align: center;
}

.icon-box .icon {
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    margin: 0px auto 20px;
    border: 1px solid #eee;
    transition: .5s;
}

.icon-box .icon:hover {
    border: 1px solid #000;
    width: 90px;
    height: 90px;
    line-height: 90px;
}

.icon-box .icon .fa {
    font-size: 25px;
    color: #008ed6;
    transition: .5s;
}

/*.icon-box .icon .fa:hover{
    font-size: 27px;
}*/
.icon-box h4 {
    font-size: 24px;
    line-height: 1.2em;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0px 0px 10px
}

.icon-box p {
    font-size: 14px;
    line-height: 1.7em;
    font-weight: 400;
    color: #999999
}

.about-long {
    width: 100%;
    padding: 80px 0px;
    border-top: 1px solid #eee;
    transition: 1s;
}

/*
.about-long:hover{
    border-top: 1px solid #000; 
}
*/
.about-long .title {
    padding: 50px 0px 20px;
}

.about-long p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7em;
    color: #999;
}

.about-long ul {
    display: block;
    padding: 10px 0px;
}

.about-long ul li {
    list-style: none;
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.7em;
    margin: 0px 0px 10px;
}

.about-long ul li img {
    width: 14px;
    height: 14px;
    margin: 0px 10px 0px 0px;
}

.about-sort {
    width: 100%;
    padding: 80px 0px;
    background: #f2f2f2;
}

.testimonial {
    width: 100%;
    padding: 80px 0px;
    background: url("../images/banner2.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonial .titel {
    text-align: center;
}

.testimonial .owl-carousel {}

.testimonial .owl-carousel .item {}

.testimonial .owl-carousel .item h4 {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5em;
    color: #fff;
    font-style: italic;
    margin: 80px 0px 50px 0px;
}

.testimonial .owl-carousel .item .client {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.testimonial .owl-carousel .item p {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: 1.7em;
    margin-top: 20px
}

.testimonial .owl-carousel .item p span {
    font-weight: 500;
    text-transform: uppercase;
}

.testimonial .lwl-theme .owl-nav.disabled + .owl-dots span {
    background: transparent;
    border: 1px solid #fff;
}

.eye-catcher {
    width: 100%;
    padding: 20px 0px;
    background: #15141a;
}

.eye-catcher h1 {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.3em;
    color: #fff;
    margin: 10px;
}

.eye-catcher h1 span {
    font-weight: 300;
}

.eye-catcher .inner-btn {
    padding: 0px 0px;
}

#btn-x {
    padding: 10px 20px;
    border-radius: 2px;
    font-size: 14px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid #008ed6;
    color: #fff;
    transition: .5s;
    margin: 10px 20px 0px 0px;
}

#btn-x:hover {
    border: 1px solid #008ed6;
    background: #008ed6;
    color: ;
}

#btn-x:focus {
    border: 1px solid #008ed6;
    background: #008ed6;
    color: ;
}



#btn-xx {
    padding: 10px 20px;
    border-radius: 2px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid #008ed6;
    color: #fff;
    transition: .5s;
    margin: 10px 20px 0px 0px;
}

#btn-xx:hover {
    border: 1px solid #008ed6;
    background: transparent;
    color: #008ed6;
}


#btn-xx:focus {
    border: 1px solid #008ed6;
    background: transparent;
    color: #008ed6;
}

.price {
    width: 100%;
    padding: 80px 0px;
}

.priceing-box {
    width: 100%;
    text-align: center;
    border: 1px solid #eee;
    transition: .5s;
}

.priceing-box .price-head {
    width: 100%;
    padding: 5% 0px;
    border: 1px solid #eee;
}

.priceing-box .price-head h3 {
    font-size: 26px;
    line-height: 1.2em;
    text-transform: capitalize;
    font-weight: 600;
    margin: 0px;
    transition: .5s;
}

.priceing-box .main-price {
    width: 100%;
    padding: 35px 0px;
    border-bottom: 1px solid #eee;
}

.priceing-box .main-price h1 {
    font-size: 80px;
    font-weight: 600;
    line-height: 1.2em;
    margin: 0px;
}

.priceing-box .main-price h1 sup {
    font-size: 32px;
    top: -0.9em;
}

.priceing-box .main-price p {
    font-size: 14px;
    font-weight: 400;
    color: #777;
    margin: -10px 0px 0px;
}

.priceing-box .price-content {
    width: 100%;
    padding: 20px 10px;
}

.priceing-box .price-content p {
    font-size: 14px;
    font-weight: 400;
    color: #b8b8b8;
    line-height: 1.7em;
    margin: 0px 0px 80px;
}

.priceing-box .price-content p a {
    text-decoration: none;
    color: #008ed6;
}

.priceing-box .price-content .btn-primary {
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #008ed6;
    background: transparent;
    border: 1px solied #eee;
    border-radius: 2px;
    transition: .5s;
}

.priceing-box:hover .price-head h3 {
    color: #008ed6;
}

.priceing-box:hover .main-price {
    background: #008ed6;
}

.priceing-box:hover .main-price h1 {
    color: #fff;
}

.priceing-box:hover .main-price p {
    color: #fff;
}

/*.priceing-box:hover .price-content .btn-primary{
    color: #fff;
    background: #008ed6;
    border: 1px solid #008ed6;
}*/


button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #008ed6;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

button:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: #fff;
}

button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

.contact {
    width: 100%;
    padding: 80px 0px;
    background: #ededed;
}

.contact .info {
    width: 100%;
    margin-top: 50px;
    padding: 0px 0px;
    text-align: center;
}

.contact .info .fa {
    font-size: 46px;
    color: #008ed6;
    margin-bottom: 30px;
}

.contact .info p {
    font-size: 14px;
    line-height: 1.7em;
    color: #999999;
    margin: 0px;
}

.contact-form {
    width: 100%;
    padding: 50px;
    background: #15141a;
    border-radius: 10px;
    position: relative;
}

.container-x {
    width: 85%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 50px 0px 0px 84px;
    z-index: 1;
}

.container-x .content-x {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-x .content-x .left-side-x {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content-x .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.content-x .left-side-x .details-x {
    margin: 14px;
    text-align: center;
}

.content-x .left-side-x .details-x i {
    font-size: 30px;
    color: #3e2093;
    margin-bottom: 10px;
}

.content-x .left-side-x .details-x .topic-x {
    font-size: 18px;
    font-weight: 500;
}

.content-x .left-side-x .details-x .text-one-x,
.content-x .left-side-x .details-x .text-two-x {
    font-size: 14px;
    color: #afafb6;
}

.container-x .content-x .right-side-x {
    width: 75%;
    margin-left: 75px;
}

.content-x .right-side-x .topic-text-x {
    font-size: 23px;
    font-weight: 600;
    color: #3e2093;
}

.right-side-x .input-box-x {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side-x .input-box-x input,
.right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.right-side-x .message-box-x {
    min-height: 110px;
}

.right-side-x .input-box-x textarea {
    padding-top: 6px;
}

.right-side-x .button-x {
    display: inline-block;
    margin-top: 12px;
}

.right-side-x .button-x input[type="button"] {
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #3e2093;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input[type="button"]:hover {
    background: #5029bc;
}






#cta-x {
    position: relative;
    margin: auto;
    padding: 5px 10px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    border: 1px solid #000
}

#cta-x:hover {
    border: 1px solid red;
}

#cta-x:befor {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

#cta-x span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

#cta-x svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

#cta-x:hover:before {
    width: 100%;
    background: #b1dae7;
}

#cta-x:hover svg {
    transform: translateX(0);
}

#cta-x:active {
    transform: scale(0.95);
}
